<div class="row p-4">
  <shared-go-back-button></shared-go-back-button>
</div>

<div class="row">
  <div class="col box-form">
    <h3 class="text-center">
      Editar Existencia Inicial
    </h3>

    <form action="" class="mt-5">
      <div>
        <label for="billFormControl" class="form-label">Factura:</label>
        <input type="text" class="form-control" id="billFormControl" placeholder="Factura">
      </div>
      <div class="mt-3">
        <label for="dateFormControl" class="form-label">Fecha:</label>
        <input type="date" class="form-control" id="dateFormControl" placeholder="Fecha">
      </div>
      <div class="mt-3">
        <label for="codeFormControl" class="form-label">Código:</label>
        <input type="number" class="form-control" id="codeFormControl" placeholder="Código">
      </div>
      <div class="mt-3">
        <label for="itemNameFormControl" class="form-label">Nombre del item:</label>
        <input type="text" class="form-control" id="itemNameFormControl" placeholder="Nombre del item">
      </div>
      <div class="mt-3">
        <label for="cuantityFormControl" class="form-label">Cantidad:</label>
        <input type="number" class="form-control" id="cuantityFormControl" placeholder="Cantidad">
      </div>
      <div class="row mt-5 form-buttons">
        <div class="col">
          <shared-cancel-form-button></shared-cancel-form-button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-warning btn-lg">Aceptar</button>
        </div>
      </div>
    </form>
  </div>
</div>
