<div class="row p-4">
  <shared-go-back-button></shared-go-back-button>
</div>

<div class="row">
  <div class="col d-flex justify-content-around mt-5">
    <button type="button"
            class="btn btn-warning btn-card"
            routerLink="initial-existence">
      Existencias Iniciales
    </button>
    <button type="button"
            class="btn btn-warning btn-card"
            routerLink="entries">
      Entradas
    </button>
    <button type="button"
            class="btn btn-warning btn-card"
            routerLink="decreases">
      Salidas
    </button>
  </div>
</div>
