<nav class="nav nav-pills flex-column bg-dark" data-bs-theme="dark">
  <a class="nav-link"
     routerLink="inventory"
     routerLinkActive="active">
    {{'Inventario' | uppercase}}
  </a>
  <a class="nav-link"
     routerLink="product"
     routerLinkActive="active">
    {{'Productos' | uppercase}}
  </a>
  <a class="nav-link"
     routerLink="sales"
     routerLinkActive="active">
    {{'Ventas' | uppercase}}
  </a>
  <a class="nav-link"
     routerLink="reports"
     routerLinkActive="active">
    {{'Reportes' | uppercase}}
  </a>
  <a class="nav-link"
     routerLink="administration/"
     routerLinkActive="active">
    {{'Adminitración' | uppercase}}
  </a>
  <a class="nav-link"
     routerLink="paydesk"
     routerLinkActive="active">
    {{'Caja' | uppercase}}
  </a>
</nav>
