<div class="row p-4">
  <div class="col">
    <shared-go-back-button></shared-go-back-button>
  </div>
</div>

<div class="row p-4">
  <div class="col">
    <h4>Resumen pedido #1</h4>
  </div>
</div>

<div class="row px-4">
  <div class="col">
    <h5>Pedido</h5>
    <div class="card p-4">
      <div class="row mb-2">
        <div class="col">
          <div class="card p-4 mb-4">
            <div class="row">
              <div class="col">
                <span><strong>Hamburguesa Simple</strong></span>
              </div>
              <div class="col d-flex justify-content-end">
                <span><strong>2</strong></span>
              </div>
            </div>
            <div class="row mt-2">
              <span>Extras: Tocino, queso</span>
            </div>
            <div class="row mt-2">
              <span>Observaciones: Sin cebolla, huevo bien cocido.</span>
            </div>
          </div>
          <div class="card p-4 mb-4">
            <div class="row">
              <div class="col">
                <span><strong>Hamburguesa Simple</strong></span>
              </div>
              <div class="col d-flex justify-content-end">
                <span><strong>2</strong></span>
              </div>
            </div>
            <div class="row mt-2">
              <span>Extras: Tocino, queso</span>
            </div>
            <div class="row mt-2">
              <span>Observaciones: Sin cebolla, huevo bien cocido.</span>
            </div>
          </div>
          <div class="card p-4 mb-4">
            <div class="row">
              <div class="col">
                <span><strong>Hamburguesa Simple</strong></span>
              </div>
              <div class="col d-flex justify-content-end">
                <span><strong>2</strong></span>
              </div>
            </div>
            <div class="row mt-2">
              <span>Extras: Tocino, queso</span>
            </div>
            <div class="row mt-2">
              <span>Observaciones: Sin cebolla, huevo bien cocido.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <h5>Pago y entrega</h5>
    <div class="card p-4">
      <div class="row">
        <div class="col">
          <span><strong>Cliente:</strong> Cristian Cueto</span>
          <br>
          <span><strong>Entrega:</strong> Delivery</span>
        </div>
        <div class="col">
          <span><strong>Tipo de pago:</strong> Pedidos Ya</span>
          <br>
          <span><strong>Total pago:</strong> 56 Bs. (Normal)</span>
        </div>
      </div>
    </div>
  </div>
</div>
