<div class="row p-4">
  <shared-go-back-button></shared-go-back-button>
</div>

<div class="row">
  <div class="col box-form">
    <h3 class="text-center">
      Inicio de caja
    </h3>

    <form action="" class="mt-5">
      <div>
        <label for="dateFormControl" class="form-label">Mes:</label>
        <input type="date" class="form-control" id="dateFormControl" placeholder="Fecha">
      </div>
      <div class="mt-5">
        <label for="200FormControl" class="form-label"><strong>200 (Bs.):</strong></label>
        <input type="number" class="form-control" id="200FormControl" placeholder="0">
      </div>
      <div class="mt-3">
        <label for="100FormControl" class="form-label"><strong>100 (Bs.):</strong></label>
        <input type="number" class="form-control" id="100FormControl" placeholder="0">
      </div>
      <div class="mt-3">
        <label for="50FormControl" class="form-label"><strong>50 (Bs.):</strong></label>
        <input type="number" class="form-control" id="50FormControl" placeholder="0">
      </div>
      <div class="mt-3">
        <label for="20FormControl" class="form-label"><strong>20 (Bs.):</strong></label>
        <input type="number" class="form-control" id="20FormControl" placeholder="0">
      </div>
      <div class="mt-3">
        <label for="10FormControl" class="form-label"><strong>10 (Bs.):</strong></label>
        <input type="number" class="form-control" id="10FormControl" placeholder="0">
      </div>
      <div class="mt-3">
        <label for="5FormControl" class="form-label"><strong>5 (Bs.):</strong></label>
        <input type="number" class="form-control" id="5FormControl" placeholder="0">
      </div>
      <div class="mt-3">
        <label for="2FormControl" class="form-label"><strong>2 (Bs.):</strong></label>
        <input type="number" class="form-control" id="2FormControl" placeholder="0">
      </div>
      <div class="mt-3">
        <label for="1FormControl" class="form-label"><strong>1 (Bs.):</strong></label>
        <input type="number" class="form-control" id="1FormControl" placeholder="0">
      </div>
      <div class="mt-3">
        <label for="05FormControl" class="form-label"><strong>0.5 (Bs.):</strong></label>
        <input type="number" class="form-control" id="05FormControl" placeholder="0">
      </div>
      <div class="mt-3">
        <label for="02FormControl" class="form-label"><strong>0.2 (Bs.):</strong></label>
        <input type="number" class="form-control" id="02FormControl" placeholder="0">
      </div>
      <div class="mt-3">
        <label for="01FormControl" class="form-label"><strong>0.1 (Bs.):</strong></label>
        <input type="number" class="form-control" id="01FormControl" placeholder="0">
      </div>
      <div class="mt-5">
        <p>
          <strong>
            Total: 0 Bs.
          </strong>
        </p>
      </div>
      <div class="row mt-5 form-buttons">
        <div class="col">
          <shared-short-cancel-form-button></shared-short-cancel-form-button>
        </div>
        <div class="col">
          <button type="button"
                  class="btn btn-warning btn-lg"
                  routerLink="search-result">
            Aceptar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
